<div class="span-all-cols flex justify-space-between bg-red">
    <ul class="flex gap-1rem justify-space-around no-bullets">
        {{#each left_nav}}
        <li>
            <a href={{this}}>{{@key}}</a>
        </li>
        {{/each}}
        

    </ul>
    <ul class="flex gap-1rem justify-space-around no-bullets">
        {{#unless session.user}}
            {{#each right_nav}}
                <li>
                    <a href={{this}}>{{@key}}</a>
                </li>
            {{/each}}
        {{else}}
            {{#each right_nav_logged}}
                <li>
                    <a href={{this}}>{{@key}}</a>
                </li>
            {{/each}}
            {{#if session.user.is_admin}}
                <li>
                    <a href="/manage">&#9881;</a>
                </li>
            {{/if}}
        {{/unless}}
    </ul>
</div>