<table class="table">
    <thead>
        <tr>
            <th>First Name</th>
            <th>Surname</th>
            <th>Gender</th>
            <th>Phone</th>
            <th>Email</th>
        </tr>
    </thead>
    <tbody>
        {{#with member}}
        <tr scope="row">
            <td scope="col">{{firstName}}</td>
            <td scope="col">{{surname}}</td>
            <td scope="col">{{gender}}</td>
            <td scope="col">{{phoneNumber}}</td>
            <td scope="col">{{email}}</td>
        </tr>
        {{/with}}
    </tbody>
    
</table>