<div class="span-all-cols flex-aCentre-between {{bg_colour}}">
    
    <ul class="flex-around no-bullets">
        {{#each nav_left}}
        <li>
            <a href="{{this}}">{{@key}}</a>
        </li>
        {{/each}}
    </ul>

    <ul class="flex-around no-bullets">
        {{#each nav_right }}
        <li>
            <a href="{{this}}">{{@key}}</a>
        </li>
        {{/each}}
    </ul>
</div>