<nav class="span-all-cols flex-between {{nav_bg_colour}}">
    <ul class="no-bullets flex-around gap-1">
        {{#each nav_left}}
            <li>
                <a href="{{this}}">{{@key}}</a>
            </li>
        {{/each}}
    </ul>

    <ul class="no-bullets flex-around gap-1">
        {{#each nav_right}}
            <li>
                <a href="{{this}}">{{@key}}</a>
            </li>
        {{/each}}
    </ul>
</nav>