<table class="table">
    <thead>
        <tr scope="row">
        <th scope="col">Member#</th>
        <th scope="col">First Name</th>
        <th scope="col">Last Name</th>
        <th scope="col">Email</th>
        <th scope="col">Status</th>
    </tr>
    </thead>
    
    <tbody>
    {{#each members}}
    <tr scope="row">
        <td scope="col">{{memberId}}</td>
        <td scope="col">{{firstName}}</td>
        <td scope="col">{{surname}}</td>
        <td scope="col">{{email}}</td>
        {{#if isManager}}
            <td scope="col">Admin</td>
        {{else}}
            <td scope="col">Member</td>
        {{/if}}
    </tr>
    {{/each}}
    </tbody>
</table>