{{>navbar}}

<table class=table>
    <thead>
        <tr scope="row">
            <th scop="col">Member#</th>
            <th scop="col">First Name</th>
            <th scop="col">Surname</th>
            <th scop="col">Email</th>
            <th scop="col">State</th>
        </tr>
    </thead>

    <tbody>
        <tr scope="row">
            {{#with member}}
                <td scope="col">{{memberId}}</a></td>
                <td scope="col">{{firstName}}</td>
                <td scope="col">{{surname}}</td>
                <td scope="col">{{email}}</td>
                {{#if isManager}}
                    <td scope="col">Admin</td>
                {{else}}
                    <td scope="col">Member</td>
                {{/if}}
            {{/with}}
        </tr>
    </tbody>
</table>